body {
    overflow-y: hidden;
}

main {
    color : white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    min-height: 80vh;
    margin-top: 5vh;
}

#content {
    background-color: #1f1f1f;
    border: 1px solid white;
    padding: 3vh 3vw 3vh 3vw;
    border-radius: 20px;
    max-width: 60vw;
    max-height: 60vh;
    margin-right: auto;
    margin-left: auto;
}

#content-header {
    margin-bottom: 2vh;
}

#content-header-title {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    gap: 2vw;
}

#content-header-title button {
    padding: 0.5vh 1vw 0.5vh 1vw;
    font-size: 1rem;
    border: none;
    border-radius: 10px;
    background-color: white;
    color: #211e23;
    cursor: pointer;
    transition: all 0.3s ease;
}

#content-header-title button:hover {
    background-color: #211e23;
    color: white;
    transform: translateY(-2px);
}

h1 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 2vh;
    color: white;
}



#content a {
    color: white;
}

/* Media Queries */
@media (max-width: 768px) {
    #content {
        max-width: 85vw;
        max-height: none;
    }

    h1 {
        font-size: 2.5rem;
    }

    main {
        margin-top: 2vh;
    }
}