/* Main */
main {
    min-height: 80vh;
    margin: 5vh 5vw;
    padding: 15vh 5vw 15vh;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 2vw;
}

.card {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    background-color: #1f1f1f;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12);
    padding: 1.5vh 1.5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(B3, B3, B3, 0.2);
}

.image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    aspect-ratio: 16/9;
    border-radius: 10px;
    margin-bottom: 1vh;
}

.title {
    font-size: 1.2rem;
    margin: 1vh 0;
    font-weight: bold;
    color: white;
}

.infos {
    font-size: 0.9rem;
    margin: 0.3vh 0;
    color: white;
}

.btn-voir-plus {
    background-color: #F5DCE0;
    box-shadow: 0 0 10px rgba(255,42,173,0.4);
    color: #1a0f1f;
    border: none;
    padding: 1.2vh 2.5vw;
    border-radius: 25px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s;
    box-shadow: 0 4px 12px rgba(52, 152, 219, 0.3);
}

.btn-voir-plus:hover {
    background-color: #f7cbd2;
    transform: translateY(-2px);
    box-shadow: 0 6px 16px rgba(52, 152, 219, 0.4);
}
