<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Afficher Artiste</title>
    <link rel="stylesheet" href="/assets/css/commun.css">
    <link rel="stylesheet" href="/assets/css/artists.css">
</head>
<body>
    <header>
        <nav>
            <div>
                <a href="#"> <img src="/assets/img/Logo-sans-fond.png" alt="logo introuvable"> </a>
            </div>
            <div>
                <form action="/recherche" method="get" id="barre-recherche">
                    <label for="research">Chercher un groupe</label>
                    <input type="search" id="research" name="researche" />
                    <button type="submit">Recherche</button>
                </form>
            </div>
        </nav>
    </header>

    <main>
        <form action="/return">
            <button type="submit">Retour à la liste des artistes</button>
        </form>
        <div class="card">
            <div>
                <h3 class="card-title">{{.Name}}</h3>
            </div>
            <div class="card-content">
                <img src="{{.Image}}" alt="{{.Name}}" class="card-image">
                <div>
                    <p class="card-info"><strong>Début:</strong> {{.Creation}}</p>
                    <p class="card-info"><strong>Premier Album:</strong> {{.FirstAlbum}}</p>
                    <p class="card-info"><strong>Membre(s): </strong>
                        <ul>
                            {{range .Members}}
                                <li>{{.}}</li>
                            {{end}}
                        </ul>
                    </p>
                </div>
            </div>
        </div>
        <div></div>
    </main>

    <footer>
        <div>
            <p>Crédits</p>
            <p>Pomme d'API</p>
        </div>
    </footer>
</body>
</html>