<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Afficher Artiste</title>
    <link rel="stylesheet" href="/assets/css/commun.css">
    <link rel="stylesheet" href="/assets/css/artists.css">
    <link rel="icon" href="/assets/img/Logo-sans-fond.png">
    <script src="/assets/javascript/concerts.js" defer></script>
</head>
<body>
    <main>
        <div class="card">
            <div class="card-header">
                <div id="header-content">
                    <div></div>
                    <h3 class="title">{{.Artiste.Name}}</h3>
                    <form action="/return">
                        <button type="submit">Retour à la liste des artistes</button>
                    </form>
                </div>
                <hr>
            </div>
            <div class="content">
                <img src="{{.Artiste.Image}}" alt="{{.Artiste.Name}}" class="image">
                <div class="details">
                    <p class="info"><strong>Début:</strong> {{.Artiste.Creation}}</p>
                    <p class="info"><strong>Premier Album:</strong> {{.Artiste.FirstAlbum}}</p>
                    
                    <p class="info"><strong>Membre(s):</strong></p>
                    <ul class="members-names">
                        {{range .Artiste.Members}}
                            <li>{{.}}</li>
                        {{end}}
                    </ul>
                    
                    <p class="info"><strong>Lieux de concert:</strong></p>
                    <ul class="locations-list">
                        {{range $location, $dates := .Relation.DatesLocations}}
                            <h4 class="localisation">{{ $location }}</h4>
                            <ul>
                                {{range $dates}}
                                    <li>{{ . }}</li>
                                {{end}}
                            </ul>
                        {{end}}
                    </ul>
                </div>
            </div>
        </div>
        <div></div>
    </main>

    <footer>
        <div>
            <a href="/credits">Crédits</a>
            <p>Pomme d'API</p>
        </div>
    </footer>
</body>
</html>