<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/commun.css">
    <link rel="stylesheet" href="/assets/css/credits.css">
    <title>Crédits</title>
</head>
<body>    
    <main>

        <div></div>

        <div id="content">
            <div id="content-header">
                <div id="content-header-title">
                    <div></div>
                    <h1>Crédits</h1>
                    <form action="/return">
                        <button type="submit" id="btn-return">Retour à la liste des artistes</button>
                    </form>
                </div>
                <hr>
            </div>
            
            <p>Ce site a été réalisé dans le cadre du projet GROUPIE TRACKER par l'équipe <strong>Pomme d'API</strong>.</p>
            <h2>Membres de l'équipe :</h2>
            <ul>
                <li>Pierre</li>
            </ul>
            <h2>Sources des données :</h2>
            <p>Les données utilisées dans ce projet proviennent de l'API Groupie Tracker d'YNOV : <a href="https://groupietrackers.herokuapp.com/api">https://groupietrackers.herokuapp.com/api</a>.</p>
            <h2>Technologies utilisées :</h2>
            <ul>
                <li>Backend (Serveur) : Go</li>
                <li>Frontend (Client) : HTML, CSS, JavaScript</li>
            </ul>
        </div>

        <div></div>
    </main>

    <footer>
        <div>
            <a href="/credits">Crédits</a>
            <p>Pomme d'API</p>
        </div>
    </footer>
</body>
</html>