<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="/assets/css/index.css">
</head>
<body>
    <header>
        <nav>
            <div>
                <a href="#"> <img src="/assets/img/Logo-sans-fond.png" alt="logo introuvable"> </a>
            </div>
            <div>
                <form action="/recherche" method="get" id="barre-recherche">
                    <label for="research">Chercher un groupe</label>
                    <input type="search" id="research" name="researche" />
                    <button type="submit">Recherche</button>
                </form>
            </div>
        </nav>
    </header>


    <main>
        {{range .Artists}}
        <div class="card">
            <img src="{{.Image}}" alt="{{.Name}}" class="card-image">
            <h3 class="card-title">{{.Name}}</h3>
            <p class="card-info">Début: {{.Creation}}</p>
            <p class="card-info">Premier Album: {{.FirstAlbum}}</p>
            <p class="card-info">Membre(s): {{len .Members}}</p>
        </div>
        {{end}}
    </main>


    <footer>
        <div>
            <p>Crédits</p>
            <p>Pomme d'API</p>
        </div>
    </footer>
</body>
</html>