<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="/assets/css/index.css">
    <link rel="stylesheet" href="/assets/css/commun.css">
    <link rel="icon" href="/assets/img/Logo-sans-fond.png">
</head>
<body>
    <header>
        <nav>
            <div class="nav-left">
                <a href="#"> <img src="/assets/img/Logo-sans-fond.png" alt="logo introuvable" class="logo"> </a>
            </div>
            <div class="nav-center">
                <form action="/recherche" method="get" id="barre-recherche" onsubmit="return false">
                    <label for="research">Recherche</label>
                    <input type="search" id="research" name="recherche" />
                    <button type="button" id="research-btn">Valider</button>
                </form>
            </div>
            <div class="nav-right"></div>
        </nav>
    </header>

    <main>
        <div id="filters_div">
            <div id="filters">
                <h3>Filtres</h3>
                <br /> <br />
                <div class="filter">
                    <fieldset>
                        <legend>Années de début</legend>
                        <input type="checkbox" value="60" id="60">
                        <label for="60">Années 60</label><br>
                        <input type="checkbox" value="70" id="70">
                        <label for="70">Années 70</label><br>
                        <input type="checkbox" value="80" id="80">
                        <label for="80">Années 80</label><br>
                        <input type="checkbox" value="90" id="90">
                        <label for="90">Années 90</label><br>
                        <input type="checkbox" value="2000" id="2000">
                        <label for="2000">Années 2000</label><br>
                        <input type="checkbox" value="2010" id="2010">
                        <label for="">Années 2010</label><br>
                    </fieldset>
                </div>
                <br /> <br />
                <div class="filter">
                    <label for="filter_membres">Nombre de membres <span id="value_membres">1</span></label>
                    <input type="range" id="filter_membres" name="filter_membres" min="1" max="10" value="1"/>
                    <input type="number" id="number_membres" name="number_membres" min="1" max="10" value="1"/>
                </div>
                <br /> <br />
                <div class="filter">
                    <label for="filter_album">Nombre d'albums <span id="value_album">0</span></label>
                    <input type="range" id="filter_album" name="filter_album" min="0" max="20" value="1"/>
                    <input type="number" id="number_album" name="number_album" min="0" max="20" value="1"/>
                </div>
                <br /> <br />
                <div class="filter">
                    <label for="filter_place_concert">Lieu</label>
                    <input type="text" id="filter_place_concert" name="filter_place_concert" placeholder="Paris ou France"/>
                </div>
            </div>
            <button type="button" id="btn_filters">></button>
        </div>

        <div id="cards">
            {{range .Artists}}
            <div class="card">
                <img src="{{.Image}}" alt="{{.Name}}" class="image">
                <h3 class="title">{{.Name}}</h3>
                <p class="infos"><stong>Début:</stong> {{.Creation}}</p>
                <p class="infos"><stong>Premier Album:</stong> {{.FirstAlbum}}</p>
                <p class="infos"><stong>Membres:</stong> {{len .Members}}</p>
                <a href="/artist/?id={{.Id}}"> <button class="btn-voir-plus" type="button">Voir plus</button> </a>
            </div>
            {{end}}
        </div>
    </main>


    <footer>
        <div>
            <p>Crédits</p>
            <p>Pomme d'API</p>
        </div>
    </footer>

    <script src="/assets/javascript/search.js" defer></script>
    <script src="/assets/javascript/filters.js" defer></script>
</body>
</html>