<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="/assets/css/index.css">
    <link rel="stylesheet" href="/assets/css/commun.css">
    <link rel="icon" href="/assets/img/Logo-sans-fond.png">
</head>
<body>
    <header>
        <nav>
            <div class="nav-left">
                <a href="#"> <img src="/assets/img/Logo-sans-fond.png" alt="logo introuvable" class="logo"> </a>
            </div>
            <div class="nav-center">
                <form action="/recherche" method="get" id="barre-recherche" onsubmit="return false">
                    <label for="research">Recherche</label>
                    <input type="search" id="research" name="recherche" />
                </form>
                <div class="recommandations">
                    <ul id="liste_recommandations">
                    </ul>
                </div>
            </div>
            <div class="nav-right"></div>
        </nav>
    </header>

    <main>
        <!--------------------------------------------------------------->

        <div id="filters_div">
            <div id="filters">
                <h3>Filtres</h3>
                <br /> <br />
                <div class="filter">
                    <fieldset>
                        <legend>Années de début</legend>
                        <input type="radio" name="annee" value="1960" id="60">
                        <label for="60">Années 60</label><br>
                        <input type="radio" name="annee" value="1970" id="70">
                        <label for="70">Années 70</label><br>
                        <input type="radio" name="annee" value="1980" id="80">
                        <label for="80">Années 80</label><br>
                        <input type="radio" name="annee" value="1990" id="90">
                        <label for="90">Années 90</label><br>
                        <input type="radio" name="annee" value="2000" id="2000">
                        <label for="2000">Années 2000</label><br>
                        <input type="radio" name="annee" value="2010" id="2010">
                        <label for="2010">Années 2010</label><br>
                    </fieldset>
                </div>
                <br /> <br />
                <div class="filter">
                    <label for="filter_membres">Nombre de membres <span id="value_membres">0</span></label>
                    <input type="range" id="filter_membres" name="filter_membres" min="0" max="10" value="0"/>
                    <input type="number" id="number_membres" name="number_membres" min="0" max="10" value="0"/>
                </div>
                <br /> <br />
                <div class="filter">
                    <label for="filter_album">Date du premier album</label>
                    <input type="text" id="filter_album" name="filter_album" placeholder="19-06-2001 ou 2001"/>
                </div>
                <br /> <br />
                <div class="filter">
                    <label for="filter_place_concert">Lieu (en anglais)</label>
                    <input type="text" id="filter_place_concert" name="filter_place_concert" placeholder="Paris ou France"/>
                </div>
                <div class="filter_btn">
                    <button type="button" id="btn_apply_filters">Appliquer les filtres</button>
                    <button type="button" id="btn_reset_filters">Réinitialiser les filtres</button>
                </div>
            </div>
            <button type="button" id="btn_filters">></button>
        </div>


        <!--------------------------------------------------------------->

        <div id="cards">
            {{range .Artists}}
            <div class="card">
                <img src="{{.Image}}" alt="{{.Name}}" class="image">
                <h3 class="title">{{.Name}}</h3>
                <p class="infos"><strong>Début:</strong> <span class="annee_debut">{{.Creation}}</span></p>
                <p class="infos"><strong>Premier Album:</strong> <span class="premier_album">{{.FirstAlbum}}</span> </p>
                <p class="infos"><strong>Membres:</strong> <span class="nb_member">{{len .Members}}</span> </p>
                <ul class="invisible">
                    {{range .Members}}
                    <li class="member">{{.}}</li>
                    {{end}}
                    {{range $location, $dates := .Concerts}}
                    <li class="localisation">{{ $location }}</li>
                    {{end}}
                </ul>
                <a href="/artist/?id={{.Id}}"> <button class="btn-voir-plus" type="button"> <p>Voir plus</p> </button> </a>
            </div>
            {{end}}
        </div>

        <!--------------------------------------------------------------->
    </main>


    <footer>
        <div>
            <a href="/credits">Crédits</a>
            <p>Pomme d'API</p>
        </div>
    </footer>

    <script src="/assets/javascript/search.js" defer></script>
    <script src="/assets/javascript/filters.js" defer></script>
    <script src="/assets/javascript/concerts.js" defer></script>
</body>
</html>